* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#desktop {
  width: 100%;
  height: 100%;
  position: relative;
}

.desktop-button-list {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.title-bar {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background: cornflowerblue;
  user-select: none;
  color: black;
  font-size: 13px;
}

.debug-resize [data-resize-direction] {
  background: red;
  opacity: 0.5;
}

.debug-resize [data-resize-direction="ne"],
.debug-resize [data-resize-direction="nw"],
.debug-resize [data-resize-direction="se"],
.debug-resize [data-resize-direction="sw"] {
  background: orange;
}

.biurko-surface {
  flex: 1;
}

.biurko-window-content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: lightgray;
}

